.container-about{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 30px;
    background-color: rgba($color: #000000, $alpha: 0.9);
    min-height: 600px;
    
    h2{
        font-weight: 300;
        font-size: 0.9rem;
        color: #E0E0E0;
    }
    h1{
        font-weight: 300;
        font-size: 28px;
        margin: 0 auto;
        font-weight: 500;
        color: #E0E0E0;
    }
    
    p{
    
        color: #E0E0E0;
        font-weight: 300;
        line-height: 25px;
        text-align: left;
        margin: 0 auto;
        font-size: 0.9rem;
    }
}
.content-body-text{

    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    div{
        color: #E0E0E0;
        min-width: 320px;
        width: 45%;
        h1{
            font-size: 2rem;
            text-align: left;
            @media (max-width: 768px) {
                font-size: 1rem;
            }
        }
        @media (max-width: 992px) {
            width: 100%;
            min-width: auto;
            padding: 10px;
        }
    }
}
.destaque{
    color: #efb608;
    font-weight: 700;
}
.text-about{
    width: 100%;
    font-size: 1rem;
}


.content-all{
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
    @media (max-width: 768px) {
        padding: 10px;
    }
}

.container-about-info{
    width: 100%;
    margin: 0 auto;
    min-width: 320px;
    max-width: 1200px;
    h1{
        font-weight: 300;
        font-size: 1.7rem;
    }
    p{
        color: rgb(128, 131, 138);
        font-size: 16px;
    }
    @media (max-width: 768px) {
        min-width: auto;
    }
    
}
.minicard{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba($color: #000000, $alpha: 0.5);
}
.list-minicard{
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    flex-wrap: wrap;
    @media (max-width: 992px) {
        padding: 0;
        margin: 5px;
    }
}
.item-card{
    width: 150px;
    height: 150px;
    border: 1px solid rgba(239, 182, 8, 0.4);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: transform 0.3s ease;
    cursor: pointer;
    @media (max-width: 778px) {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5px;
        justify-content: center;
        padding: 0;
    }
}
.name-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.item-card .card-name{
    color: #efb608;
    margin: 5px;
    
}
.item-card .card-description{
    font-size: 14px;
    color: #E0E0E0;
    text-align: center;
}

@media (max-width: 992px) {
    .container-about-info{
        width: 95%;
    }
    .container-about{
        height: auto;
    }
}
@media (max-width: 448px) {
    .container-about{
        p{
            padding: 0;
            margin: 5px;
    
        }
}
}
.item-card:hover {
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1); 
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1); 
    }
}
